body {
    line-height: normal;
}

.App {
    text-align: center;
}

iframe {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    background-color: transparent;
}


/* #wrap {
  position: relative;
  width: 1920px;
  height: 9460px;
  margin: auto;
}
#outer {
  position: relative;
  width: 1920px;
  height: 946px;
  -webkit-transform-origin: top left;
} */

.backgroundImage {
    height: 100%;
    z-index: -1;
    width: 100%;
    display: flex;
    position: absolute;
    animation: fadeIn ease 2s;
    -moz-animation: fadein 2s;
    /* Firefox */
    -webkit-animation: fadein 2s;
    /* Safari and Chrome */
    -o-animation: fadein 2s;
    /* Opera */
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}